[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/vundle"]
	path = vim/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "vim/powerline"]
	path = vim/powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "vim/powerline-fonts"]
	path = vim/powerline-fonts
	url = git://github.com/Lokaltog/powerline-fonts.git
[submodule "vim/vim-colors-solarized"]
	path = vim/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
