[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "solarized"]
	path = solarized
	url = git://github.com/altercation/solarized.git
[submodule "gnome-terminal-colors"]
	path = gnome-terminal-colors
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
