[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "solarized"]
	path = solarized
	url = git://github.com/altercation/solarized.git
[submodule "gnome-terminal-colors"]
	path = gnome-terminal-colors
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "powerline"]
	path = powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "vim/powerline-fonts"]
	path = vim/powerline-fonts
	url = git://github.com/Lokaltog/powerline-fonts.git
