[Unit]
Description=Save tmux sessions (resurrect) when the session ends
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/home/nkhanhtrn/.tmux/plugins/tmux-resurrect/scripts/save.sh

[Install]
WantedBy=default.target
